h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(206, 0, 0);
    font-size: 100px;
    font-style: unset
}
h3 {
    text-align: center;
    font-style: oblique;
    font-size: 60px;
    color: red
}
h2 {
    text-align: center;
    font-size: 160px;
    color: whitesmoke
}
.btn-outline-success{
    font-size: 99px;

}
.centerBtn{
    text-align: center;

}
#dashs{
    text-align: center; 

}
#attempts{
    text-align: center;
    color: whitesmoke
}

body {
   background-image: url(https://bloximages.newyork1.vip.townnews.com/gwinnettdailypost.com/content/tncms/assets/v3/editorial/8/a7/8a78128e-dbd3-11e7-8da4-c3d6068c2316/5a2a1a768f970.image.jpg?resize=1200%2C771);
   background-color: #cccccc;
}