h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(206, 0, 0);
    font-size: 100px;
    font-style: unset
}
h3 {
    text-align: center;
    font-style: oblique;
    font-size: 60px;
}
h2 {
    text-align: center;
    font-size: 160px;
}
.btn-outline-success{
    font-size: 99px;

}
.centerBtn{
    text-align: center;

}
#dashs{
    text-align: center;

}
#attempts{
    text-align: center;
}

body {
   background-image: url("http://i.dailymail.co.uk/i/pix/2018/01/15/03/482623B700000578-5269289-image-a-9_1515986932566.jpg");
   background-color: #cccccc;
}